<!-- <a class="@@aClass" href="@@url" target="_blank">@@text</a> -->
<div class="cοntainer">
  <h1 class="title">Buscador de series</h1>
  <form class="js-form">
    <input class="search-field js-search-field" type="text" name="input" title="Type in your search" autocomplete="off">
    <input class="button js-button" type="button" title="Search movies/series" value="Search">
  </form>
  <div class="results">
    <h2 class="results__title">Resultados</h2>
    <ul class="results__list js-results__list">
    </ul>
  </div>
</div>