ul {
  list-style-type: none;
}

.favorite {
  background-color: greenyellow;
}

.hidden {
  display: none;
}

.main {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.results {
  width: 300px;
}